{% extends "base.html" %}
{% load wagtailcore_tags %}

{# Load the tag library #}
{% load bootstrap3 %}

{% block extra_css %}{# Load CSS and JavaScript #}

    {% bootstrap_javascript %}
{%  endblock %}

{% block content %}
<div class="layout-page-content--full">
    <div class="page-content">
        <div class="page-content__box">
        <p>
            <a href="{% url "apimanager:view_applications" %}">Back</a>
        </p>
            <h1>Application register</h1>
            <p>
                By registering your application, you can subscribe to <b>our Open APIs</b> and receive <b>API keys</b>.</p>
            <p>

            {% if app %}
            <form action="{% url "apimanager:update_application" app.pk %}" method="post">
            {% else %}
            <form action="{% url "apimanager:add_application" %}" method="post" class="form">
            {% endif %}
            {% csrf_token %}
            <table>
                {% bootstrap_form form %}
            </table>
            {% buttons %}
                <button type="submit" class="btn btn-primary" name="save" value="Save">
                  {% bootstrap_icon "star" %} Submit
                </button>
            {% endbuttons %}

            {% if subscriptions %}
            <h2>Existing subscriptions</h2>
            <ul>
            {% for sub in subscriptions %}
                <li><button type="submit" name="unsubscribe"  value="{{ sub.pk }}">Unsubscribe from {{ sub.api.api_page.name }}</button></li>
            {% endfor %}
            </ul>
            {%  endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
