{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %}
<div class="layout-page-content--full">
  <div class="page-content">
    <div class="page-content__box">
            <h1>Applications</h1>
            <p>
                <a href="{% url "apimanager:add_application" %}">Register an application!</a>
            </p>
        <h2>Your applications</h2>
            <ul>
                {%  for app in apps %}
                    <a href="{% url "apimanager:update_application" app.pk %}">{{ app.name }}</a>
                    <h2>Subscriptions</h2>
                    <ul>
                    {% for sub in app.subscriptions.all %}
                        <li>{{ sub.api_page.name }}</li>
                    {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
