{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %}
<div class="layout-page-content">
    <div class="page-content">
        <div class="page-content__box">
            <h1>Applications</h1>
            <ul>
                {%  for app in apps %}
                    {{ app.name }}
                    <h2>Subscriptions</h2>
                    <ul>
                    {% for sub in app.subscriptions.all %}
                        <li>{{ sub.api_page.name }}</li>
                    {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
