{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
{% with apis=self.apis %}
<div class="layout-page-content--full">
  <div class="page-content">
    <div class="page-content__box">
      <h5 class="page-section-header">Apis</h5>
      {% if apis %}
      <div class="api-list">
      {% for api in apis %}
        <div>
            <a href="{% pageurl api %}">{{api.title}}</a>
            <p>{{api.short_description}}</p>
        </div>
      {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endwith %}
{% endblock %}
