{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block extra_css %}
{% if self.has_swagger_docs %}
  <link href="{% static 'swagger-ui/dist/css/typography.css' %}" media='screen' rel='stylesheet' type='text/css'/>

  <link href="{% static 'swagger-ui/dist/css/screen.css' %}" media='screen' rel='stylesheet' type='text/css'/>

  <link href="{% static 'swagger-ui/dist/css/print.css' %}" media='print' rel='stylesheet' type='text/css'/>
{% endif %}

{% endblock %}

{% block extra_js %}
{% if self.has_swagger_docs %}
<link rel="stylesheet" href="//unpkg.com/swagger-ui-dist@3.13.2/swagger-ui.css">
<script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
<script>

  const ui = SwaggerUIBundle({
    url: "{{ self.documentation }}",
    dom_id: "#swagger-ui-container"
  })
</script>
{% endif %}
{% endblock %}

{% block body_class %}swagger-section{% endblock %}

{% block content %}

    <div class="layout-page-content--full">
      <div class="page-content">
        <div class="page-content__box">
          <div>
            <a href="{% url "apimanager:pre_login" %}" class="button">Register an application!</a>
          </div>
          <h5 class="page-section-header">Open APIs</h5>
          <header>
            <h2>{{ self.title }}</h2>
            <p class="api-details__short-description">{{ self.short_description }}</p>
            <p class="api-details__location">API location: <a href="{{ self.api_url }}">{{ self.api_url }}</a></p>
          </header>
          <div class="api-details__description">{{ self.full_description|richtext }}</div>

{% if self.has_swagger_docs %}
          <div class="api-explorer">
            <h3>Explore the API</h3>
            <div class='input'><input placeholder="api_key" id="input_apiKey" name="apiKey" type="text"/></div>
            <div id="message-bar" class="swagger-ui-wrap" data-sw-translate>&nbsp;</div>
            <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
          </div>
{% elif self.documentation %}
          <div class="api-explorer">
            <h3><a href="{{ self.documentation }}">Follow this link for API documentation</a></h3>
          </div>
{% endif %}
        </div>
      </div>
    </div>

{%  endblock %}
