{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
{% with apis=self.apis %}
<div class="layout-page-content--full">
      <div class="layout-page-header--full">
        <div class="page-header page-header--full">
          <h1>API<span>s</span></h1>
          <div class="app-registration-link">
            <a href="{% url "apimanager:add_application" %}" class="button">Register an application!</a>
          </div>
        </div>
      </div>
      {% if apis %}
      <div class="project-index">
      {% for api in apis %}
        <div class="layout-project-index-item">
          <div class="project-index-item">
            <div class="project-index-item__content">
            <a href="{% pageurl api %}">
              <div class="project-status project-status--{{api.status}}">{{api.get_status_display}}</div>
            <div class="project-index-image">
              {% if api.image %}
              {% image api.image fill-400x250 as image %}
              <div class="project-index-image" style="background-image: url({{image.url}})">{{project.image.title}}</div>
              {% else %}
               <div class="project-index-image" style="background-image: url({% static "images/api-image-default.png" %})">Default project image</div>
              {% endif %}
              </div>
            <h2>{{api.title}}</h2></a>
            <div class="project-description">{{api.short_description}}</div>
            </div>
        </div>
        </div>
      {% endfor %}
        </div>
      {% endif %}

</div>
{% endwith %}
{% endblock %}
