{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wtforms %}
{% block content %}
<div class="layout-page-content">
    <div class="page-content">
        <div class="page-content__box">
            <h1>Application registration</h1>

            <form action="." method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <ul>
            {% for id, sub in subscriptions %}
                <li><button type="submit" name="unsubscribe"  value="{{ id }}">Unsubscribe from {{ sub }}</button></li>
            {% endfor %}
            </ul>
            <input type="submit" name="save" value="Save">
            </form>
        </div>
    </div>
</div>
{% endblock %}
