{% extends "base.html" %}
{% load home_tags wagtailcore_tags compress %}
{% load humanize %}

{% block content %}
<div class="layout-page-content--full">
      <div class="layout-page-header--full">
        <div class="page-header page-header--full">
          <h1>Events</h1>
        </div>
      </div>
      <div class="project-index"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
{% compress js inline %}
<script type="text/javascript">
    $.getJSON('/event_data/', function(json) {return displayEvents(json,true)});
</script>
{% endcompress %}
{% endblock %}
