{% extends "base.html" %}
{% load wagtailcore_tags compress %}
{% load humanize %}

{% block content %}
<div class="layout-page-content">
  <div class="page-content">
    <div class="page-content__box">
      <h5 class="page-section-header">Github events</h5>
      <div class="commit-list">
        <ul></ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
{% compress js inline %}
<script type="text/javascript">
    $.getJSON('/github_data/', displayGithub);
</script>
{% endcompress %}
{% endblock %}
