Django<=1.8
wagtail==1.1
psycopg2
django-bower
django-compressor
django-libsass
wagtail-blog
django-grappelli
-e git+https://github.com/City-of-Helsinki/django-helusers.git#egg=django-helusers
django-allauth
django-modelcluster
python-kong==0.4.0
splinter
pytest
pytest-django
