Django<2.0
wagtail==1.2
psycopg2==2.7.4
django-npm==1.0.0
django-compressor==2.1
django-libsass==0.7
wagtail-blog==1.6.5
django-grappelli==2.7.1
-e git+https://github.com/City-of-Helsinki/django-helusers.git@94b0d3db73e76ba5387c7dc0db3c6315ccbbb079#egg=django_helusers-master
django-allauth==0.23.0
django-modelcluster==1.0
python-kong==0.4.0
splinter==0.7.3
pytest==3.2.3
pytest-django==3.1.2
django-bootstrap3==6.2.2
python-memcached==1.57
## The following requirements were added by pip freeze:
backoff==1.0.7
beautifulsoup4==4.4.1
defusedxml==0.4.1
django-appconf==1.0.1
django-taggit==0.17.1
django-treebeard==3.0
djangorestframework==3.2.4
html5lib==0.999999999
libsass==0.11.1
oauthlib==1.0.3
ordereddict==1.1
Pillow<4.0
py==1.4.34
python3-openid==3.0.7
requests==2.18.4
requests-oauthlib==0.8.0
selenium==2.48.0
six==1.10.0
Unidecode==0.4.18
Willow==0.2.1
raven==5.9.0
