{% extends "base.html" %}
{% load home_tags wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

{% block blog_content %}{% endblock %}

<aside class="layout-side-content">
  <div class="list-banner list-banner--blogposts">
    <h3>Recent posts</h3>
    <ul>
        {% for post in blogs %}
        <li class="blog-list__item">
            <a href="{% pageurl post %}">
            <span class="blog-list__date">{{ post.date }}</span>
            <span class="blog-list__header">{{ post.title }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="list-banner__full-link">
      <a href="#">Archive >></a>
      {% blog_posts_by_month as by_month %}
      {% regroup by_month by year as by_year %}
      {% for year in by_year %}
      <h4>{{ year.grouper }}</h4>
      <ul>
        {% for item in year.list %}
        <li>{{ item.month_name }} ({{ item.count }})</li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>
  <div class="some-banner">
    <a href="https://www.facebook.com/groups/heldev">
      <i class="fa fa-facebook-official fa-2x"></i>
      We're on Facebook
    </a>
  </div>
  <div class="some-banner">
    <a href="https://github.com/City-of-Helsinki">
      <i class="fa fa-github fa-2x"></i>
      Find us on GitHub
    </a>
  </div>
</aside>

{% endblock %}
