{% extends "base.html" %}
{% load home_tags %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
<div class="layout-main">

{% block blog_content %}{% endblock %}

<aside class="layout-side-content">
  <div class="list-banner list-banner--blogposts">
    <h3>Recent posts</h3>
    <ul>
      <li class="blog-list__item">
        <a href="/blog-post/">
        <span class="blog-list__date">18.9.2015</span>
        <span class="blog-list__header">{% lorem 5 w random %}</span>
        </a>
      </li>
      <li class="blog-list__item">
        <a href="/blog-post/">
        <span class="blog-list__date">18.9.2015</span>
        <span class="blog-list__header">{% lorem 5 w random %}</span>
        </a>
      </li>
      <li class="blog-list__item">
        <a href="/blog-post/">
        <span class="blog-list__date">18.9.2015</span>
        <span class="blog-list__header">{% lorem 5 w random %}</span>
        </a>
      </li>
    </ul>
    <div class="list-banner__full-link">
      <a href="#">Archive >></a>
      {% blog_posts_by_month as by_month %}
      {% regroup by_month by year as by_year %}
      {% for year in by_year %}
      <h4>{{ year.grouper }}</h4>
      <ul>
        {% for item in year.list %}
        <li>{{ item.month_name }} ({{ item.count }})</li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>
  <div class="some-banner">
    <a href="#">
      <i class="fa fa-facebook-official fa-2x"></i>
      We are in Facebook
    </a>
  </div>
  <div class="some-banner">
    <a href="#">
      <i class="fa fa-github fa-2x"></i>
      Find us in GitHub
    </a>
  </div>
</aside>

</div>
{% endblock %}
