{% extends "blog/base.html" %}
{% load wagtailcore_tags %}

{% block blog_content %}
{% if blogs %}
<div class="layout-page-content">
  <div class="page-content">
    <div class="page-content__box">
      {% if category %}
      <h5 class="page-section-header">{{ category }}</h5>
      {% elif tag %}
      <h5 class="page-section-header">Posts about #{{ tag }}</h5>
      {% else %}
      <h5 class="page-section-header">Blog</h5>
      {% endif %}
      {% for blog in blogs %}
      {% include "blog/blog_post.html" %}
      {% endfor %}
      <div class="button button--loadmore">Load more</div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
