{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
{% with people=self.people %}
<div class="layout-page-content">
  <div class="page-content">
    <div class="page-content__box">
      <h5 class="page-section-header">Code fellows</h5>
      {% if people %}
      <div class="people-list">
      {% for person in people%}
        <div class="people-list__person">
          <div class="people-list__person-avatar">
            <img src="{{person.avatar_url}}" alt="{{person.name}}">
          </div>
          <div class="people-list__person-details">
            <h4>{{person.name}}</h4>
            <span class="person-title">{{person.job_title}}</span>
            <a href="{{person.contact}}" class="person-contact">Contact</a>
            {% if person.description %}
            <div>{{person.description|linebreaks}}</div>
            {% endif %}
          </div>
          <div class="people-list__person-projects">
            <ul>
            {% for role in person.roles.all %}
                <li>{{role.type}} in <a href={% pageurl role.project %}>{{role.project.title}}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endwith %}
{% endblock %}
