{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block extra_js %}
  <script src="{% static 'jQuery-Collapse/src/jquery.collapse.js' %}" type='text/javascript'></script>
  <script type="text/javascript">
    $(function () {
      $(".is-dropdown").collapse({
        open: function() {
          this.addClass("open");
          this.css({ height: this.children().outerHeight() });
        },
        close: function() {
          this.css({ height: "0px" });
          this.removeClass("open");
        }
      });
    });
  </script>

{% endblock %}

{% block content %}
{% with people=self.people %}
<div class="layout-page-content--full">
  <div class="layout-page-header--full">
    <div class="page-header page-header--full">
      <h1>Code fellows</h1>
    </div>
  </div>
      {% if people %}
      <div class="layout-people-index">
      {% for person in people %}
        <div class="layout-people-index__person">
          <div class="people-index__person">
          <div class="people-index__person-avatar">
            <img src="{{person.avatar_url}}" alt="{{person.name}}">
          </div>
          <div class="people-index__person-details">
            <h3>{{person.name}}</h3>
            <span class="person-title">{{person.job_title}}</span>
          </div>
          <div class="people-index__person-contact">
            <a href="{{person.contact}}" class="person-contact">Contact</a>  
          </div>
            <div class="people-index__person-description"> 
            {% if person.description %}
              <div class="person-dropdown is-dropdown">
                <h5><span class="fa fa-chevron-up"></span> Bio</h5>
                <div class="panel">
                  <div class="panel-content">
                    {{person.description|linebreaks}}
                  </div>
                </div>
              </div>
            {% else %}
              <div class="person-dropdown--empty"></div>
            {% endif %}
            </div>
            <div class="people-index__person-projects">

            <div class="person-dropdown is-dropdown">
              <h5><span class="fa fa-chevron-up"></span> Projects</h5>
              <div class="panel">
                <div class="panel-content">
                  <ul class="person-projects-list">
                  {% for role in person.roles.all %}
                      <li>{{role.type}} in <a href={% pageurl role.project %}>{{role.project.title}}</a></li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            </div>
            
        </div>
        </div>
      {% endfor %}
      </div>
      {% endif %}
</div>
{% endwith %}
{% endblock %}
