



<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Helsinki Developers&#39; Portal | dev.hel.fi</title>
        <link rel="apple-touch-icon" sizes="180x180" href="static/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" href="/static/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/static/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/static/favicons/manifest.json">
        <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#003380">
        <link rel="shortcut icon" href="/static/favicons/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="HEL &lt;3 DEV">
        <meta name="application-name" content="HEL &lt;3 DEV">
        <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        
        <meta property="og:site_name" content="dev.hel.fi" />
        <meta name="description" content="Helsinki Developers&#39; Portal" />
        <meta name="og:title" content="Helsinki Developers&#39; Portal | dev.hel.fi" />
        
        
        <meta property="og:image" content="http://dev.hel.fi/static/images/some-banner.jpg" />
        
        

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic|Inconsolata:400,700' rel='stylesheet' type='text/css'>
        

        <link rel="stylesheet" href="/static/CACHE/css/63c7e9ae5905.css" type="text/css" />

        <script type="text/javascript" src='/static/jquery/dist/jquery.js'></script>

        
            
        
    </head>

    <body class="template-home-page">
          

          <div class="layout-header">
            <div class="layout-header__wrapper">
              <a href="/"><h1 class="site-logo">dev.hel.fi</h1></a>
              <nav id="js-navigation" class="main-navigation" role="navigation">
                <ul>
                    <li><a href="/projects/">Projects</a></li>
                    <li><a href="/apis/">Open APIs</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/about/">About Us</a></li>
                    <li><a href="/events/">Events</a></li>
                    
                    <li><a href="/accounts/helsinki/login/">Log in</a></li>
                    
                </ul>
              </nav>
              
<!-- start front-banner content -->
<div class="layout-front-banner">
  <div class="front-banner__content front-banner__background" style="background-image: url(/static/images/front-banner-image-default.png)">
    <div class="front-banner__text">
          <div class="rich-text"><h2>Helsinki Loves Developers</h2><p>Welcome to the Helsinki Developers' Portal! This site is developed and operated by the City's <a href="http://dev.hel.fi/about/">Open Software Development team</a>. </p><p>You can find information about our <a href="http://dev.hel.fi/projects/">projects</a> and <a href="http://dev.hel.fi/apis/">APIs</a>. All the code we develop is fully open source, and our UIs are built on top of the same APIs that are available for everyone to use.</p><p>Any questions or comments? Want to share your love? Feel free to join us for a chat in our <a href="https://gitter.im/City-of-Helsinki/heldev">Gitter chat room</a>.</p></div>
    </div>
  </div>
</div>
<!-- end front-banner content -->

            </div>
          </div>

         <!-- Site Overlay -->
          <div id="js-toggle" class="menu-btn">
           <div class="bar"></div>
          </div>
          <div class="layout-main">
            
<!-- start promoted content -->
<div class="layout-promoted">
  <div class="layout-promoted__first">
    
    <div class="list-banner list-banner--commit-watch">
      <h3>Commit Watch</h3>
      <ul>{% include 'gh_events.njk' %}</ul>
      <div class="list-banner__full-link">
        <a href="/commit-watch/">Full list of Github events >></a>
      </div>
    </div>
    
  </div>
  
  <div class="layout-promoted__second">
    <div class="list-banner list-banner--available-apis">
      <h3>Ongoing projects</h3>
      <ul>
        
        <li class="api-list__item">
          <a href="/projects/openahjo/">
          <span class="api-list__icon"><i class="fa fa-gears"></i></span>
          <span class="api-list__header">OpenAhjo</span>
          </a>
        </li>
        
        <li class="api-list__item">
          <a href="/projects/service-map/">
          <span class="api-list__icon"><i class="fa fa-gears"></i></span>
          <span class="api-list__header">Service Map</span>
          </a>
        </li>
        
        <li class="api-list__item">
          <a href="/projects/helsinki-ckan/">
          <span class="api-list__icon"><i class="fa fa-gears"></i></span>
          <span class="api-list__header">Helsinki CKAN</span>
          </a>
        </li>
        
        <li class="api-list__item">
          <a href="/projects/devhelfi/">
          <span class="api-list__icon"><i class="fa fa-gears"></i></span>
          <span class="api-list__header">dev.hel.fi</span>
          </a>
        </li>
        
        <li class="api-list__item">
          <a href="/projects/kerro-kantasi/">
          <span class="api-list__icon"><i class="fa fa-gears"></i></span>
          <span class="api-list__header">Kerrokantasi</span>
          </a>
        </li>
        
      </ul>
      <div class="list-banner__full-link">
        <a href="/projects/">Full list of ongoing projects >></a>
      </div>
    </div>
  </div>
  
</div>
<!-- end promoted content -->
<div class="layout-page-content">
  <div class="hilight-banner hilight-banner--full">
    <div class="hilight-banner__box">
      <div class="hilight-banner__content">
      
        
            
            
            
        <a href="/blog/"><img src="/media/images/uusi.2e16d0ba.fill-1200x600.jpg" alt="User Experience" /></a>
            
            <a href="/blog/"><h5 class="hilight-banner__section">Blog</h5></a>
            <a href="/blog/euro-ia-2017-information-architecture-and-design-stockholm/"><h3>Euro IA 2017 - Information Architecture and Design in Stockholm</h3></a>
            <p></p>
            <div class="hilight-banner__readmore">[<a href="/blog/euro-ia-2017-information-architecture-and-design-stockholm/">Read more...</a>]</div>
            
        
      
      </div>
    </div>
  </div>
  <div class="hilight-banner hilight-banner--full">
    <div class="hilight-banner__box">
      <div class="hilight-banner__content">
      
        <a href="/projects/"><h5 class="hilight-banner__section">Projects</h5></a>
        
            
            <a href="/projects/openahjo/"><h3>OpenAhjo</h3></a>
            <p>The City of Helsinki is committed to opening as much data as possible related to the decision making inside the city. We're publishing information about the political decision makers, such as committees, the city board and the city council, and the non-political civil servant office holders. Currently we have decision data on about 300 office holders and about 50 political decision makers.<br/></p>
            <div class="hilight-banner__readmore">[<a href="/projects/openahjo/">Read more...</a>]</div>
            </a>
            
        
      
      </div>
    </div>
  </div>
  <div class="hilight-banner hilight-banner--half">
    <div class="hilight-banner__box">
      <div class="hilight-banner__content">
      
        <a href="/apis/"><h5 class="hilight-banner__section">APIs</h5></a>
        
            
            <a href="/apis/geoserver/"><h3>Geoserver</h3></a>
            <p>GeoServer is a Java-based software server that allows users to view and edit geospatial data. Using open standards set forth by the Open Geospatial Consortium (OGC), GeoServer allows for great flexibility in map creation and data sharing.<br/></p>
            <div class="hilight-banner__readmore">[<a href="/apis/geoserver/">Read more...</a>]</div>
            
        
      
      </div>
    </div>
  </div>
  <div class="hilight-banner hilight-banner--half">
    <div class="hilight-banner__box">
      <div class="hilight-banner__content">
      
        <a href="/blog/"><h5 class="hilight-banner__section">Blog</h5></a>
        
            
        <a href="/blog/tracking-dependency-versions-vulnerabilities/"><h3>Tracking dependency versions for vulnerabilities</h3></a>
            <p>Here in Open Software Group at City of Helsinki we have been tracking dependency updates of Python projects with requires.io for some time. But recently we decided to cover all of our projects, Node.js included. I set out to compare all the available services, and hopefully find a single solution that would:</p>
            <div class="hilight-banner__readmore">[<a href="/blog/tracking-dependency-versions-vulnerabilities/">Read more...</a>]</div>
            
        
      
      </div>
    </div>
  </div>
</div>
<aside class="layout-side-content">
  <div class="list-banner list-banner--datasets">
    <h3>Latest open datasets</h3>
    <ul>
    {% include 'hri_items.njk' %}
    </ul>
    <div class="list-banner__full-link">
      <a href="http://www.hri.fi/en/">
      <i class="partner-hri"></i>More on the HRI website >>
      </a>
    </div>
  </div>

  
  <div class="list-banner list-banner--events">
    <h3>Upcoming events</h3>
    <ul></ul>
    <div class="list-banner__full-link">
      <a href="/events/">Full list of events >></a>
    </div>
  </div>
  

  <div class="some-banner">
    <a href="https://www.facebook.com/groups/heldev">
      <i class="fa fa-facebook-official fa-2x"></i>
      We're on Facebook
    </a>
  </div>
  <div class="some-banner">
    <a href="https://github.com/City-of-Helsinki">
      <i class="fa fa-github fa-2x"></i>
      Find us on GitHub
    </a>
  </div>
</aside>

          </div>

          <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="page-footer-nav">
                        <div class="page-footer-block">
                          <div class="footer-header">dev.hel.fi</div>
                          <ul class="footer-links">
                              <li><a href="/projects/">Projects</a></li>
                              <li><a href="/apis/">Open APIs</a></li>
                              <li><a href="/blog/">Blog</a></li>
                              <li><a href="/about/">About Us</a></li>
                              <li><a href="/events/">Events</a></li>
                              
                              <li><a href="/accounts/helsinki/login/">Log in</a></li>
                              
                          </ul>
                        </div>
                    </div>
                    <div class="page-footer-brand">
                        <div class="footer-branding footer-branding-helsinki">
                            <a href="http://www.hel.fi">
                                <img alt="Helsingin vaakuna" src="/static/images/helsinki-vaakuna-white.svg" class="footer-logo footer-logo-helsinki" aria-hidden="true">
                                <div class="footer-branding-text">City of Helsinki</div>
                            </a>
                        </div>
                        <div class="footer-branding footer-branding-heldev">
                            <a href="http://dev.hel.fi">
                                <img alt="Helsinki loves developers" src="/static/images/heldev_logo-white-mini.svg" class="footer-logo footer-logo-heldev" aria-hidden="true">
                                <div class="footer-branding-text">City of Helsinki Open Software Development</div>
                            </a>
                        </div>
                    </div>
                    <div class="page-footer-links">
                        <div class="page-footer-block">
                            <div class="footer-header">See also</div>
                            <ul class="footer-links">
                                <li><a href="https://github.com/City-of-Helsinki"><i class="fa fa-github"></i> GitHub</a></li>
                                <li><a href="https://www.facebook.com/groups/heldev/"><i class="fa fa-facebook"></i> Facebook</a></li>
                                <li><a href="https://twitter.com/hashtag/heldev"><i class="fa fa-twitter"></i> #heldev</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="page-footer-small">
                        <div class="page-footer-small-print">
                            <div class="footer-header">In collaboration with</div>
                            <ul class="footer-partners">
                                <li><a href="http://hri.fi"><img alt="Helsinki Region Infoshare" src="/static/images/hri_logo_darkBG.svg" class="partner-logo" aria-hidden="true"></a></li>
                                <li><a href="http://6aika.fi"><img alt="6Aika" src="/static/images/6aika-tunnus-RGB-W.png" class="partner-logo" aria-hidden="true"></a></li>
                                <li><img alt="Vipuvoimaa EU:lta 2014—2020" src="/static/images/eu-vipuvoimaa-white.svg" class="partner-logo" aria-hidden="true"></li>
                                <li><img alt="Euroopan Unioni Euroopan aluekehitysrahasto Euroopan sosiaalirahasto" src="/static/images/eu-aluekehitys-white.svg" class="partner-logo" aria-hidden="true"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        
        <script type="text/javascript" src="/static/CACHE/js/a8ea4ed40b19.js"></script>
        
<script type="text/javascript">(function(){$(function(){var params;params={limit:5};return $.getJSON('https://hri.fi/data/api/action/current_package_list_with_resources',params,function(data){var $li,$list,dataset,e,i,j,len,len1,ref,ref1,results,template,title,url;$list=$(".list-banner--datasets ul");ref=data.result;results=[];for(i=0,len=ref.length;i<len;i++){dataset=ref[i];title=null;ref1=dataset.extras;for(j=0,len1=ref1.length;j<len1;j++){e=ref1[j];if(e.key==='title_en'&&e.value){title=e.value;break;}}
if(!title){title=dataset.title;}
url="http://www.hri.fi/en/dataset/"+dataset.name;$li=$("<li class='dataset-list__item' />");template="<a href=\""+url+"\">\n    <span class=\"dataset-list__header\">"+title+"</span>\n</a>";$li.append($($.trim(template)));results.push($list.append($li));}
return results;});});}).call(this);$.getJSON('/github_data/?amount=3',displayGithub);$.getJSON('/event_data/?future=true',function(json){return displayEvents(json,false)});</script>

      <!-- Piwik -->
      <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//analytics.hel.ninja/piwik/";
          _paq.push(['setTrackerUrl', u+'pw.php']);
          _paq.push(['setSiteId', 6]);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'pw.js'; s.parentNode.insertBefore(g,s);
        })();
      </script>
      <noscript><p><img src="//analytics.hel.ninja/piwik/pw.php?idsite=6" style="border:0;" alt="" /></p></noscript>
      <!-- End Piwik Code -->
    </body>
</html>
