@import 'compass-mixins/lib/compass';
@import "susy/sass/susy";
@import 'typography';
@import 'variables';
@import 'pushycss';

@import 'bower_components/compass-mixins/lib/compass/reset';

@include establish-baseline;
  
body {
  font-family: 'Lato', sans-serif;
  color: $devblue;
  background-color: #eee;
  background-image: url("/static/images/heldev-sitebg-gray.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  	max-width: 100%;
	height: auto;
}

.site-logo {
  height: 3em;
  padding: 1em;
}


/* ------------ SITE NAVIGATION */

  .menu-container { display: block; }
  
  .menu-container { 
    width: 100%; 
    background-color: $devblue;
    background-image: url("/static/images/heldev-sitebg-blue.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .menu-btn { 
    display: block;
    position: fixed;
    z-index: 2000;
    top: .25em;
    right: .25em;
    padding: .25em; 
    font-size: 3em;
    color: #fff; 
    float: right; 
    cursor: pointer;
  }

  .menu-btn:hover {  
    color: $devyellow; 
  }

  .pushy-active .menu-btn {  
    display: none;
  }

nav.pushy {
    height: 90%;
    padding-top: 1.5em;
    background: $devblue;
    font-weight: 700;
    font-style: italic;
    font-size: 1.2em;
    letter-spacing: .04em;
}

nav.pushy a{
    display: block;
    padding: .5em 1em;
    border: 0;
    color: #ffffff;
    text-decoration: none;
}

nav.pushy a:hover{
    background: $devyellow;
    color: #FFF;
}

/*-----------------------*/
  .main-content, .menu-content { 
    @include container;
  }
  
  .main-content {
    margin-top: 2em;  
  }

  .front-banner {
    @include span(100%);
    margin-bottom: 2em;
  }
  
  .promoted-content {
    @include span(100% nest);
  }

  .promoted-first, .promoted-second {
    @include span(100%);
    margin-bottom: 1em;
  }

  .side-content {
    @include span(100%);
  }

/* ------------ FRONT BANNER */

.front-banner-background {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.front-banner-content {
  //position: relative;
  //@include clearfix;
  //padding: 1em;
  margin-right: .5em;
  margin-bottom: .5em;
  background: $devyellow;
  box-shadow: .5em .5em 0 0 $devblue;
}

.front-banner-text {
  position: relative;
  float: right;
  width: 50%;
  padding: 2em 1em;
  background: rgba($devblue, 0.5);
  color: #ffffff;
}


.list-banner {
  padding: 1em;
  background: $devblue;
  color: #ffffff;
}