$devblue: #003380;
$devblack: #333333;
$devgray: #969696;
$devyellow: #ffc61e;

$deskwidth: 640px;
$nondesk: max-width 640px;

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: inside,
  container: 70em,
  container-position: center,
  columns: 12,
  gutters: 2em/5em,
  column-width: false,
  global-box-sizing: content-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);
