@import 'compass-mixins/lib/compass';
@import "susy/sass/susy";
@import 'compass-breakpoint/stylesheets/breakpoint';
@import 'typography';
@import 'variables';
@import 'pushycss';


//@import 'bower_components/compass-mixins/lib/compass/reset';

@include global-reset;
@include establish-baseline;
  
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: $devblue;
  //letter-spacing: 0.0625em;
  background-color: #eee;
  background-image: url("/static/images/heldev-sitebg-gray.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  	max-width: 100%;
	height: auto;
}

.site-logo {
  position: absolute;
  display: inline-block;
  //z-index: 10000;
 // @include span(2);
  height: rhythm(2);
  width: 6em;
  top: rhythm(.5);
  //left: rhythm(.25);
  @include replace-text(url("/static/images/heldev-logo-mini-white.svg"));
  background-size: contain;
}

.template-home-page .site-logo {
    @include breakpoint($deskwidth) {
      position: absolute;
      height: 12em;
      width: 12em;
      @include replace-text(url("/static/images/heldev-logo-white.svg"));
    }  
}

/* headings() */
h1, h2, h3, h4, h5, h6, h7 {
	font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 900;
	/* Set font-family to all headings */
}

a, a:hover {
  color: $devyellow;
  text-decoration: none;
}

a:visited, a:active {
  //color: inherit;
}

p {
  margin-bottom: rhythm(1);
}

/* ------------ OFFSET WAGTAIL USERBAR */

#wagtail-userbar{
   top: rhythm(4);
}

/* ------------ SITE NAVIGATION */

  .layout-header {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%; 
    min-height: rhythm(3);
    margin-bottom: rhythm(2);
    background-color: $devblue;
  }

  .template-home-page .layout-header {
    position: relative;
    background-image: url("/static/images/heldev-sitebg-blue.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .menu-btn { 
    display: block;
    position: fixed;
    z-index: 10001;
    top: .25em;
    right: .25em;
    padding: .25em; 
    font-size: 3em;
    color: #fff; 
    float: right; 
    cursor: pointer;
    @include breakpoint($deskwidth) {
      display: none;
    }
  }

  .menu-btn:hover {  
    color: $devyellow; 
  }

@media (min-width: 640px) {
    .pushy-left{
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

  .pushy {
    @include breakpoint($deskwidth) {
      display: block;
      position: relative;
      padding: 0;
      @include push(2);
      @include span(10);
      text-align: right;
      margin-top: rhythm(1);
      margin-bottom: rhythm(1);
      @include adjust-font-size-to(16px);
      font-weight: 900;
      > ul  {
        @include inline-block-list(rhythm(.5));
      }
      a {
        display: block;
        color: #FFFFFF;
        &:hover {
          color: $devyellow;
        }
      }
    }
  }

/*-----------------------*/
  .layout-main, .layout-header__wrapper, .layout-site-footer__wrapper {
    @include container;
    @include show-grid(overlay);
    //padding: 0 rhythm(.25);
    @include breakpoint($deskwidth) {
      //padding: 0 rhythm(1);
    }
  }
  
  .layout-main {
    margin-top:  rhythm(5);
  }

  .template-home-page .layout-main {
    margin-top:  rhythm(2);
  }

  .layout-front-banner {
    @include span(12);
    margin-top: rhythm(3);
    margin-bottom: rhythm(2);
    @include breakpoint($deskwidth) {
      @include pre(2);
      @include span(10);
      margin-top: rhythm(2);
      margin-bottom: rhythm(3);
    }
  }
  
  .layout-promoted {
    @include span(12 nest);
  }

  .layout-promoted__first, .layout-promoted__second {
    @include span(12);
    //margin-bottom: rhythm(1);
    @include breakpoint($deskwidth) {
      @include span(6);
    }
  }

  .layout-page-content--full {
    @include span(12 nest);
  }

  .layout-page-content {
    @include span(12 nest);
    @include breakpoint($deskwidth) {
      @include span(8 nest);
    }
  }

  .layout-side-content {
    @include span(12);
    @include breakpoint($deskwidth) {
      @include span(4);
    }
  }

  .layout-site-footer {
    @include clearfix;
    width: 100%;
    background: #333333;
    margin-top: rhythm(2);
    padding: rhythm(2) 0 rhythm(4) 0;
    color: #FFFFFF;
  }

  .hilight-banner__box {
    padding: rhythm(.5);
    background: #FFFFFF;
    margin-bottom: rhythm(1);
    .hilight-banner__content {
      padding: rhythm(.5);
      border: 2px solid $devblue;
    }
    h3 {
      @include adjust-font-size-to(28px);
      //margin-top: -0.5em;
    }
    h5 {
      @include adjust-font-size-to(16px);
      font-family: 'Inconsolata';
      text-transform: uppercase;
      font-weight: 900;
      font-style: normal;
      color: $devyellow;
    }
  }
  .hilight-banner--full {
    @include span(12);
  }
  .hilight-banner--half {
    @include span(6);
  }

.site-footer-partners,
.site-footer-navigation,
.site-footer-links {
  @include span(12);
  margin-bottom: rhythm(2);
}

.site-footer {
  a {
    color: #FFFFFF;
    &:hover {
      color: $devyellow;
    }
  }
}

.site-footer-navigation {
    text-align: center;
    @include breakpoint($deskwidth) {
      text-align: left;
      @include pre(3);
      @include span(3);
    }
}

.site-footer-links {
    text-align: center;
    @include breakpoint($deskwidth) {
      text-align: left;
      @include span(3);
    }

  i {
    margin-right: .5em;
    margin-bottom: .5em;
  }
}

.site-footer-partners {
    @include breakpoint($deskwidth) {
      @include span(3);
    }
  .partner-helsinki {
    height: rhythm(4);
    width: 50%;
    float: left;
    @include replace-text(url("/static/images/helsinki-vaakuna.svg"),90%,1%);
    background-size: contain;
  }
  .partner-heldev {
    height: rhythm(4);
    width: 50%;
    float: left;
    @include replace-text(url("/static/images/heldev-logo-white.svg"),10%,1%);
    background-size: contain;
  }
  .partner-link {
    float: left;
    width: 100%;
    margin-top: rhythm(1);
    text-align: center;
  }
}

/* ------------ FRONT BANNER */

.front-banner__background {
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: local;
  width: 100%;
  height: 100%;
}

.front-banner__content {
  @include clearfix;
  box-shadow: .5em .5em 0 0 darken($devblue,25%);
}

.front-banner__text {
  position: relative;
  float: right;

  min-height: rhythm(6);
  padding: rhythm(1) 2em;
  background: rgba($devblue, 0.5);
  color: #ffffff;
  h1 {
    @include adjust-font-size-to(36px);
    margin-bottom: rhythm(.5);
  }

  @include breakpoint($deskwidth) {
    width: 50%;
  }
}

.list-banner {
  padding: rhythm(1);
  margin-bottom: rhythm(1);
  background: $devblue;
  color: #ffffff;
  font-weight: 300;
  h3 {
    @include adjust-font-size-to(18px);
    display: inline-block;
    clear: both;
    font-family: 'Inconsolata';
    text-transform: uppercase;
    font-weight: 900;
    font-style: normal;
    border-bottom: 3px solid #FFFFFF;
    margin-bottom: rhythm(1);
  }
  ul {
    margin-bottom: rhythm(1);
  }
}

.event-list__item {
  border: 2px solid #FFFFFF;
  padding: rhythm(.5);
  margin-bottom: rhythm(1);
}
.event-list__date {
  font-weight: 900;
  display: block;
}
.event-list__header {
  display: block;
}
.event-list__description {
  display: block;
}
.event-list__link {
  font-weight: 900;
}
.list-banner__full-link {
  font-weight: 900;
}

.blog-list__item {
  padding: rhythm(.25);
  margin-bottom: rhythm(.5);
  background: #FFFFFF;
  font-weight: 500;
  a {
    color: $devblue;
  }
}

.blog-list__date {
  display: block;
}

.blog-list__header {
  display: block;
}


.commit-list__item {
  img {
    @include border-radius(25px);
  }
}

.commit-list__date {
  font-weight: 700;
  display: block;
  color: #FFFFFF;
  &:hover {
    color: $devyellow;
  }
}
.commit-list__description {
  display: block;
  color: #FFFFFF;
}

.list-banner__full-link {

}

.api-list__item {
}
.api-list__icon {
  margin-right: .5em;
}
.api-list__header {
  color: #FFFFFF;
  &:hover {
    color: $devyellow;
  }
}

.some-banner {
  padding: rhythm(1);
  margin-bottom: rhythm(1);
  background: $devblue;
  color: #ffffff;
  font-weight: 300;
}


/* ------------ PAGE CONTENT */

.page-content {
  @include span(12);
  margin-bottom: rhythm(2);
  //@include clearfix;
  //padding: rhythm(1);
  //background: #FFFFFF;
}

.page-content__box {
  @include clearfix;
  padding: rhythm(1);
  background: #FFFFFF;
}

.page-section-header {
    @include adjust-font-size-to(18px);
    font-family: 'Inconsolata';
    text-transform: uppercase;
    font-weight: 900;
    font-style: normal;
    border-bottom: 3px solid $devblue;
    margin-bottom: rhythm(1);
}

.button {
  background: $devblue;
  padding: rhythm(.25);
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: $devyellow;
  }
}

.button--loadmore {
  clear: both;
  width: 25%;
  margin: 0 auto;
}

/* ------------ BLOG LISTING*/

.blog-listing-item {
  border: 2px solid $devblue;
  //padding: rhythm(1);
  @include span(12);
  padding-top: rhythm(.5);
  padding-bottom: rhythm(.5);
  margin-bottom: rhythm(1);
}

.blog-listing-item__date {
  @include span(12);
  //padding: rhythm(.5);
  margin-bottom: rhythm(.5);
  @include adjust-font-size-to(16px);
  color: #FFFFFF;
  font-weight: 900;
  font-face: 'Inconsolata';
  .listing-date__day::after, .listing-date__month::after {
    content: " .";
  }
  @include breakpoint($deskwidth) {
    @include adjust-font-size-to(28px);
    @include span(2);
    text-align: center;
    .listing-date__day::after, .listing-date__month::after {
      content: none;
    }
    span {
      display: block;
    }
  }

  .blog-listing-date-box {
    background: $devblue;
    padding: rhythm(.5);
    @include breakpoint($deskwidth) {
      padding: rhythm(1) 0;
    }
  }
}

.blog-listing-item__details {
  @include adjust-font-size-to(12px);
  color: $devgray;
}

.blog-listing-item__content {
  @include span(12);
  @include breakpoint($deskwidth) {
    @include span(10);
  }
  h2 {
    @include adjust-font-size-to(32px);
    a {
      color: $devblue;
      &:hover {
        color: $devyellow;
      }
    }
  }
}

a.blog-listing-item__tag {
  color: $devgray;
  &:hover {
    color: $devyellow;
  }
}

.blog-post {
  .blog-article-image {
    margin-bottom: rhythm(.5);
  }
  h1 {
    @include adjust-font-size-to(36px);
    margin-bottom: rhythm(.5);
  }
  .blog-post__details {
    color: $devgray;
  }
  a.blog-post__tag {
    color: $devgray;
    &:hover{
      color:$devyellow;
    }
  }
  
}

/* ------------ PROJECTS LISTING*/

.project-list__header {
  @include span(12);
}
.project-list {  
}

.layout-project-list-item {
  @include span(12);
  @include breakpoint($deskwidth) {
    @include gallery(4 of 12);
  }
}

.project-list-item {
  padding: rhythm(.5);
  margin-bottom: rhythm(1);
  background: #FFFFFF;
  a {
    color: $devblue;
  }
  h4 {
    @include adjust-font-size-to(24px);
  }
}

.project-status {
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'Inconsolata';
}

.project-status--discovery {
  color: #cccccc; 
}

.project-status--alpha {
  color: #4665aa; 
}

.project-status--beta {
  color: #46aa7c; 
}

.project-status--live {
  color: #aa4665; 
}
