@import 'compass-mixins/lib/compass';
@include global-reset;
@import 'variables';
@import "susy/sass/susy";
@import 'breakpoint-sass/stylesheets/breakpoint';
@import 'components-font-awesome/scss/font-awesome';
@import 'typography';
@import 'formhack';
@import 'sidr';

@include establish-baseline;

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: $base-font-family;
  letter-spacing: .033em;
  @extend %t-regular;
  color: $devblue;
  background-color: #eee;
  background-image: url("/static/images/heldev-sitebg-gray.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

td, th {
 vertical-align: top;  
}

img {
  	max-width: 100%;
	height: auto;
}

/* formatted text list styles for areas where applicable  */
.rich-text, .page-content {
  @extend %t-list-styles;
  @extend %t-font-styles;
}
.rich-text {
  h1 a, h2 a, h3 a, h4 a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  a {
    color: $devblue;
    text-decoration: underline;
    &:hover {
      color: $devgray;
      text-decoration: underline;
    }
  }
}

.site-logo {
  position: absolute;
  display: inline-block;
  height: rhythm(2.5);
  width: 6em;
  left: rhythm(.25);
  top: 0.05em;
  @extend %t-base;
  @include replace-text(url("/static/images/heldev-logo-mini-white.svg"));
  background-size: contain;
  @include breakpoint($tabletwidth) {
    left: rhythm(.5);
  }  
  @include breakpoint($deskwidth) {
    left: rhythm(2);
  }  
}

.template-home-page .site-logo {
    left: rhythm(.5);
    top: rhythm(.5);
    @include breakpoint($tabletwidth) {
      height: rhythm(7);
      width: rhythm(7);
      @include replace-text(url("/static/images/heldev-logo-white.svg"));
    }  
    @include breakpoint($deskwidth) {
      left: rhythm(3);
      height: rhythm(10);
      width: rhythm(10);
    }  
}

/* headings() */
h1, h2, h3, h4, h5, h6, h7 {
	font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 900;
	/* Set font-family to all headings */
}

a, a:hover {
  color: $devyellow;
  text-decoration: none;
}

a:visited, a:active {
  //color: inherit;
}

p {
  margin-bottom: rhythm(1);
}

/* ------------ OFFSET WAGTAIL USERBAR */

#wagtail-userbar{
   top: rhythm(4);
}

/* ------------ SITE NAVIGATION */

  .layout-header {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%; 
    min-height: rhythm(3);
    background-color: $devblue;
  }

  .template-home-page .layout-header {
    background-image: url("/static/images/heldev-sitebg-blue.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    margin-bottom: rhythm(1);
    @include breakpoint($tabletwidth) {
      margin-bottom: rhythm(2);
    }
  }

  .menu-btn {
    $bar-width: 2.5em;
    $bar-height: .4em;
    $bar-spacing: .75em;
    background: $devblue;
    padding: .5em;
    z-index: 1000000;
    position: fixed;
    top: rhythm(.5);
    right: rhythm(.5);
    height: $bar-height + $bar-spacing*2 + 1em;
    cursor: pointer;

    .bar,
    .bar:after,
    .bar:before {
      width: $bar-width;
        height: $bar-height;
    }

    .bar {
        position: relative;
        transform: translateY($bar-spacing);
        background: rgba(255, 255, 255, 1);
        transition: all 0ms 300ms;
    }

    .bar:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: $bar-spacing;
        background: rgba(255, 255, 255, 1);
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .bar:after {
        content: "";
        position: absolute;
        left: 0;
        top: $bar-spacing;
        background: rgba(255, 255, 255, 1);
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    @include breakpoint($tabletwidth) {
      display: none;
    }

    &.is-open {
      background: transparent;

      .bar {
        background: rgba(255, 255, 255, 0);
      }

      .bar:after {
          top: 0;
          transform: rotate(45deg);
          transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
      }

      .bar:before {
          bottom: 0;
          transform: rotate(-45deg);
          transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
      }
    }
  }


  #sidr-main {
    @include breakpoint($tabletwidth) {
      display: none;
    }
  }

  .main-navigation {
    display: none;
    @include breakpoint($tabletwidth) {
      display: block;
      position: relative;
      padding: 0;
      @include push(2);
      @include span(10);
      text-align: right;
      margin-top: rhythm(1);
      margin-bottom: rhythm(1);
      @include adjust-font-size-to(16px);
      font-weight: 900;
      > ul  {
        @include inline-block-list(rhythm(.5));
      }
      a {
        display: block;
        color: #FFFFFF;
        &:hover {
          color: $devyellow;
        }
      }
    }
  }

/*-----------------------*/
  .layout-main, .layout-header__wrapper {
    position: relative;
    @include container;
    @include show-grid(overlay);
    @include breakpoint($tabletwidth) {
      padding: 0 rhythm(.5);
    }
    @include breakpoint($deskwidth) {
      padding: 0 rhythm(2);
    }
  }
  
  .layout-main {
    min-height: 100%;
    padding-top: rhythm(4);
    padding-bottom: rhythm(4);
    @include breakpoint($tabletwidth) {
      padding-top: rhythm(5);
      padding-bottom: rhythm(5);
    }
  }

  .template-home-page .layout-main {
    margin-top:  rhythm(1);
    padding-top: 0;
    @include breakpoint($tabletwidth) {
      padding-top: 0;
      margin-top:  rhythm(2);
    }
  }

  .layout-front-banner {
    @include span(12);
    margin-top: rhythm(4);
    margin-bottom: rhythm(1);
    @include breakpoint($tabletwidth) {
      margin-top: rhythm(1);
      margin-bottom: rhythm(2);
      @include pre(1);
      @include span(11);
    }
    @include breakpoint($deskwidth) {
      @include pre(2);
      @include span(9);
      margin-top: rhythm(2);
      margin-bottom: rhythm(3);
    }
  }
  
  .layout-promoted {
    @include span(12 nest);
  }

  .layout-promoted__first, .layout-promoted__second {
    @include span(12);
    //margin-bottom: rhythm(1);
    @include breakpoint($tabletwidth) {
      @include span(6);
    }
  }

  .layout-page-content--full {
    @include span(12 nest);
  }

  .layout-page-content {
    @include span(12 nest);
    @include breakpoint($deskwidth) {
      @include span(8 nest);
    }
  }

  .layout-side-content {
    @include span(12);
    @include breakpoint($deskwidth) {
      @include span(4);
    }
  }

  .hilight-banner__box {
    padding: rhythm(.5);
    background: #FFFFFF;
    margin-bottom: rhythm(1);
    .hilight-banner__content {
      padding: rhythm(.5);
      border: 2px solid $devblue;
    }
    h3 {
      @include adjust-font-size-to(28px);
      //margin-top: -0.5em;
    }
    h5 {
      @include adjust-font-size-to(16px);
      font-family: 'Inconsolata';
      text-transform: uppercase;
      font-weight: 900;
      font-style: normal;
      color: $devyellow;
    }
    p {
      margin: 0;
    }
    a {
    color: $devblue;
    &:hover {
      color: $devyellow;
    }
    }
  }
  .hilight-banner__readmore {
    font-weight: bold;
    text-align: right;
  }
  .hilight-banner--full {
    @include span(12);
  }
  .hilight-banner--half {
    @include span(12);
    @include breakpoint($tabletwidth) {
      @include span(6);
    }
  }


//* Page Footer section */

.page-footer {
  .row {
    @include container;
  }
}

.page-footer-nav {
    @include breakpoint($tabletwidth) {
      @include span(3);
      @include push(6);
    }
}

.page-footer-brand {
    @include breakpoint($tabletwidth) {
      @include span(3);
      @include pull(9);
    }
}

.page-footer-links {
    @include breakpoint($tabletwidth) {
       @include span(3);
    }
}

.page-footer-small {
  @include span(12);
}

.page-footer {
  background-color: #333333;
  color: #ffffff;
  margin-top: 4em;
  min-height: 20em;
  padding: 4em 0;

  .page-footer-block {
    margin-bottom: 2em;
    text-align: center;
    @include breakpoint($tabletwidth) {
      text-align: left;
    }
  }

  .footer-header {
    font-weight: 800;
    margin-bottom: 1em;
    text-align: center;
    @include breakpoint($tabletwidth) {
      text-align: left;
    }
  }

  .footer-links {
    list-style: none;
    padding-left: 0;
    i {
      font-size: 1.2em;
      width: 1.5em;
    }

    a {
      color: #ffffff;
      
      &:hover {
        color: $devyellow;
      }
    }
  }

  .footer-partners {
    list-style: none;
    padding-left: 0;
    li {
      vertical-align: top;
      display: block;
      @include breakpoint($tabletwidth) {
        display: inline-block;
      }
    }
  }

  .partner-logo {
    margin: 0 auto 1em;
    width: 5em;
    @include breakpoint($tabletwidth) {
      margin: 1em 0 2em 2em;
    }
  }

  .heldev-logo {
    margin: 0 auto 1em;
    max-width: 5em;
  }
}

.footer-branding {
  margin-bottom: 2em;
  text-align: center;

  .footer-logo {
    margin: 0 auto 1em;
    max-width: 4.5em;
  }

  .footer-logo-heldev {
    max-width: 4em;
  }

  a {
    color: #ffffff;
    display: block;

    &:hover {
      text-decoration: none;
    }
  }

  .footer-branding-text {
    font-size: $small-font-size;
    margin-bottom: 1.5em;
  }
}

.page-footer-small-print {
  margin-top: 2em;
  text-align: center;

  @include breakpoint($tabletwidth) {
    text-align: right;
  }

  .footer-header {
    text-align: center;

    @include breakpoint($tabletwidth) {
      text-align: right;
    }
  }
}

/* ------------ FRONT BANNER */

.front-banner__background {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: local;
  width: 100%;
  height: 100%;
}

.front-banner__content {
  @include clearfix;
  @include breakpoint($tabletwidth) {
    box-shadow: .5em .5em 0 0 rgba(#000000, 0.6);
  }
}

.front-banner__text {
  position: relative;
  float: right;
  min-height: rhythm(6);
  margin: rhythm(.5);
  padding: rhythm(.5) rhythm(.5) 0 rhythm(1);
  background: rgba($devblue, 0.5);
  color: #ffffff;
  h1 {
    @include adjust-font-size-to(36px);
    margin-bottom: rhythm(.5);
  }
  @include breakpoint($tabletwidth) {
    width: 60%;
  }
  @include breakpoint($deskwidth) {
    width: 50%;
  }
  a {
    color: $devyellow;
    text-decoration: none;
    &:hover {
      color: $devgray;
      text-decoration: none;
    }
  }
}

.list-banner {
  padding: rhythm(1);
  margin-bottom: rhythm(1);
  background: $devblue;
  color: #ffffff;
  font-weight: 300;
  h3 {
    @include adjust-font-size-to(18px);
    display: inline-block;
    clear: both;
    font-family: 'Inconsolata';
    text-transform: uppercase;
    font-weight: 900;
    font-style: normal;
    border-bottom: 3px solid #FFFFFF;
    margin-bottom: rhythm(1);
  }
  ul {
    margin-bottom: rhythm(1);
  }
}

.list-banner {
  ul {
    height: rhythm(10);
    overflow: auto;
  }
}

.event-list__item {
  border: 2px solid #FFFFFF;
  padding: rhythm(.5);
  margin-bottom: rhythm(1);
}
.event-list__date {
  font-weight: 900;
  display: block;
}
.event-list__header {
  display: block;
}
.event-list__description {
  display: block;
}
.event-list__link {
  font-weight: 900;
}
.list-banner__full-link {
  font-weight: 900;
  position: relative;
  .partner-hri {
    display: inline-block;
    margin-right: .5em;
    margin-bottom: -.5em;
    height: rhythm(1.2);
    width: rhythm(1.2);
    @include replace-text(url("/static/images/hri_logo.png"));
    background-size: contain;
  }
}


/* ------------ DATASETS */

.dataset-list__item {
  @include clearfix;
  margin-bottom: rhythm(.5);
  a {
    display: block;
    margin-bottom: rhythm(.5);
    color: #FFFFFF;
    &:hover {
      color: $devyellow;
    }
  }
  border-bottom: 1px solid #FFFFFF;
}


/* ------------ BLOGS */

.blog-list__item {
  padding: rhythm(.25);
  margin-bottom: rhythm(.5);
  background: #FFFFFF;
  font-weight: 500;
  a {
    color: $devblue;
  }
}

.blog-list__date {
  display: block;
}

.blog-list__header {
  display: block;
}

/* ------------ COMMIT WATCH */

.commit-list__item {
  @include clearfix;
  margin-bottom: rhythm(.5);
  a {
    display: block;
    width: 85%;
    margin-left: 18%;
    margin-bottom: rhythm(.5);
    color: #FFFFFF;
    &:hover {
      color: $devyellow;
    }
  }
  border-bottom: 1px solid #FFFFFF;
}

.commit-list__avatar {
  float: left;
  width: 15%;
  background-color: #FFFFFF;
  margin-bottom: rhythm(.5);
  img {
    display: block;
  }
}

.commit-list__actor {
  @extend %t-strong;
}

.commit-list__date {
  @extend %t-small;
}
.commit-list__description {

}

.commit-list--full {
  ul {
    margin: 0;
    list-style: none;
  }
  .commit-list__item {
    a {
      color: $devblue;
      &:hover {
        color: $devyellow;
      }
    }
    border-bottom: 1px solid $devblue;
  }
  .commit-list__date {
    color: #666666;
  }
}

/* ------------  */


.list-banner__full-link {

}

.api-list__item {
  padding: rhythm(.1) 0;
  border-bottom: 1px solid #FFFFFF;
  @extend %t-medium;
  @extend %t-ultrastrong;
  font-style: italic;
}
.api-list__icon {
  margin-right: .5em;
}
.api-list__header {
  color: #FFFFFF;
  &:hover {
    color: $devyellow;
  }
}

.some-banner {
  padding: rhythm(.5) rhythm(1);
  margin-bottom: rhythm(1);
  background: $devblue;
  @extend %t-strong;
  line-height: 2em;
  a:hover {
    color: #FFFFFF;
  }
  i {
    margin-right: 12px;
  }
}


/* ------------ PAGE CONTENT */

.page-content {
  @include span(12);
  margin-bottom: rhythm(2);
  //@include clearfix;
  //padding: rhythm(1);
  //background: #FFFFFF;
}

.page-content__box {
  @include clearfix;
  padding: rhythm(1);
  background: #FFFFFF;
}

.page-section-header {
    @include adjust-font-size-to(18px);
    font-family: 'Inconsolata';
    text-transform: uppercase;
    font-weight: 900;
    font-style: normal;
    border-bottom: 3px solid $devblue;
    margin-bottom: rhythm(1);
}

.page-section-header {
  text-transform: none;
}

.button {
  display: inline-block;
  background: $devblue;
  padding: rhythm(.25);
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: $devyellow;
    color: $devblue;
  }
}

.button--loadmore {
  clear: both;
  width: 25%;
  margin: 0 auto;
}

/* ------------ BLOG LISTING*/

.blog-listing-item {
  border: 2px solid $devblue;
  //padding: rhythm(1);
  @include span(12);
  padding-top: rhythm(.5);
  padding-bottom: rhythm(.5);
  margin-bottom: rhythm(1);
}

.blog-listing-item__date {
  @include span(12);
  //padding: rhythm(.5);
  margin-bottom: rhythm(.5);
  @include adjust-font-size-to(16px);
  color: #FFFFFF;
  font-weight: 900;
  font-face: 'Inconsolata';
  .listing-date__day::after, .listing-date__month::after {
    content: " .";
  }
  @include breakpoint($tabletwidth) {
    @include adjust-font-size-to(28px);
    @include span(2);
    text-align: center;
    .listing-date__day::after, .listing-date__month::after {
      content: none;
    }
    span {
      display: block;
    }
  }

  .blog-listing-date-box {
    background: $devblue;
    padding: rhythm(.5);
    @include breakpoint($tabletwidth) {
      padding: rhythm(1) 0;
    }
  }
}

.blog-listing-item__details {
  border-top: 2px solid $devblue;
  border-bottom: 2px solid $devblue;
  margin-bottom: rhythm(1);
  padding: rhythm(.5) 0;
  @extend %t-small;
  color: $devgray;
}

.blog-listing-item__author {
  a {
    color: $devblue;
  }
  img {
    height: 48px;
    width: 48px;
  }
}

.blog-listing-item__content {
  @include span(12);
  @include breakpoint($tabletwidth) {
    @include span(10);
  }
  h2 {
    @extend %t-xlarge;
    margin-bottom: rhythm(.25);
    a {
      color: $devblue;
      &:hover {
        color: $devyellow;
      }
    }
  }
}

a.blog-listing-item__tag {
  color: $devgray;
  &:hover {
    color: $devyellow;
  }
}

.blog-post {
  .blog-article-image {
    margin-bottom: rhythm(.5);
  }
  h1 {
    @include adjust-font-size-to(36px);
    margin-bottom: rhythm(.5);
  }
  .blog-post__details {
    color: $devgray;
  }
  a.blog-post__tag {
    color: $devgray;
    &:hover{
      color:$devyellow;
    }
  }
  
}

/* ------------ PROJECTS LISTING */


.project-index {  
}

.layout-page-header--full {
  @include span(12);
  margin-bottom: rhythm(1);
}

.page-header--full {
  h1 {
    @include adjust-font-size-to($xxlarge-font-size);
    margin-bottom: 0;
  }
}

.app-registration-link {
  text-align: right;
}

.layout-project-index-item {
  @include span(12);
  @include breakpoint($tabletwidth) {
    @include gallery(6 of 12);
  }
  @include breakpoint($deskwidth) {
    @include gallery(4 of 12);
  }
}

.project-index-item {
  padding: rhythm(.2);
  margin-bottom: rhythm(1);
  background: #FFFFFF;
  .project-description {
    min-height: rhythm(4);
  }
}

.project-index-image {
  height: rhythm(8);
  @include hide-text;
  background-color: $devgray;
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: local;
  overflow: hidden;
  margin-bottom: rhythm(.5);
  img {
    display:inline-block; 
    margin:0;
    vertical-align:top;
    max-height: 250px;
    width: auto;
  }
}

.project-index-item__content {
  padding: rhythm(.25);
  border: 2px solid #FFFFFF;
  transition: border 1s;
  a {
    color: $devblue;
  }
  h2 {
    margin-bottom: 12px;
  }
  &:hover {
    border: 2px solid $devblue;
  }
}

.project-status {
  //display: inline-block;
  padding: rhythm(.25) rhythm(.5);
  
  color: #FFFFFF;
  @extend %t-small;
  @extend %t-strong;
  text-transform: uppercase;
  font-family: $code-font-family;
  &:before {
    margin-right: .5em;
    @include fa-icon; 
  }
}

.project-status--discovery {
  background: #666666; 
  &:before {
    @extend .fa-binoculars;
  }
}

.project-status--alpha {
  background: #4665aa; 
  &:before {
    @extend .fa-thumbs-up;
  }
}

.project-status--beta {
  background: #46aa7c; 
  &:before {
    @extend .fa-heart;
  }
}

.project-status--live {
  background: #aa4665; 
  &:before {
    @extend .fa-heartbeat;
  }
}

.project-status--retirement {
  background: #333333; 
  &:before {
    @extend .fa-trash;
  }
}


.project-additional-info__content {
  //border: 2px solid $devblue;
  background: $devblue;
  color: #FFFFFF;
  padding: rhythm(.5);
  .project-status {
    margin-bottom: rhythm(1);
  }
  
  h4 {
    border-top: 2px solid #FFFFFF;
    font-family: $code-font-family;
    text-transform: uppercase;
    font-style: normal;
    @extend %t-strong;
  } 
}


.project-people, .project-kpis, .project-links {
  margin-bottom: rhythm(1);
  font-family: $code-font-family;
  ul {
    margin: 0 0 0 1.5em;
    li {
      list-style: none;
      margin-bottom: .5em;
      &:before {    
        font-family: 'FontAwesome';
        margin:0 .7em 0 -1.5em;
      }
      span {
        white-space: nowrap;
      }
      a {
        color: #FFFFFF;
        &:hover {
          color: $devyellow;
        }
      }
    }
  }
  .kpis-name, .links-name, .people-role {
    @extend %t-strong;
  }
} 

.project-people ul li {
  &:before {
    @extend .fa-user;
  }
}

.project-kpis ul li {
  &:before {
    @extend .fa-line-chart;
  }
}

.project-links ul li {
  &:before {
    @extend .fa-external-link;
  }
}

.kpis-description, .links-description {
  
}

.project-main-image {
  text-align: center;
  background: #333;
  margin-bottom: rhythm(2);
  img {
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }
}



.layout-project-content {
  @include span(12 nest);
}

.layout-project-header {
  @include span(12);
}

.layout-project-main-info {
  @include span(12);
  @include breakpoint($deskwidth) {
    @include span(8);
  }
}

.layout-project-additional-info {
  @include span(12);
  @include breakpoint($deskwidth) {
    @include span(4);
  }
}

/* ------------ ABOUT PAGE */

.layout-people-index {
  @include span(12 nest);
}

.layout-people-index__person {
  margin-bottom: rhythm(1);
  @include span(12);
  @include breakpoint($deskwidth) {
    @include gallery(6 of 12);
  }
}

.people-index__person {
  @include clearfix;
  background: #FFFFFF;
  padding: rhythm(1);
  h3 {
    @extend %t-large;
    margin-bottom: 0;
  }
  .person-title {
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Inconsolata';
  }
  .person-contact {
    @extend .button;
  }
}

.people-index__person-avatar {
  @include span(4);
  margin-bottom: rhythm(.5);
  @include breakpoint($tabletwidth) {
    @include span(3);
  }
  img {
    max-height: rhythm(6);
  }
}

.people-index__person-details {
  @include span(8);
  margin-bottom: rhythm(.5);
  @include breakpoint($tabletwidth) {
    @include span(7);
  }
}

.people-index__person-contact {
  @include span(8);
  margin-bottom: rhythm(.5);
  @include breakpoint($tabletwidth) {
    @include span(2);
  }
}

.people-index__person-projects, .people-index__person-description {
  @include span(12);
  margin-bottom: rhythm(.5);
}


.person-dropdown {
    float: left;
    position: relative;
    width: 100%;
    border: 1px solid $devblue;
    margin-bottom: 1px;
    padding-top: 0.6em;
    
    // The accordion chevron icon
    
    h5 a {
      color: $devblue;
    }
    h5 span {
      color: $devyellow;
      position: absolute;
      right: 1em;
      top: 0.7em;
      transition: all 0.2s ease-in;
    }
  
    h5.open span {
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    h5.open + .panel {
       height: auto;
    }
  
    .panel {
      margin-top: .5em;
      height: 0px;
      padding: 0px;
      overflow: hidden;
      display: block!important;
      -webkit-transform: translateZ(0);
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
      transition: all .5s ease;
    }
    
    .panel-content {
      padding: rhythm(.75);
    }
    
    h5 {
      margin-left: 1em;
    }

  }

.person-dropdown--empty {
  @include breakpoint($deskwidth) {
    height: 2.8em;
  }
}

.person-projects-list {
  @include no-bullets;
}


.api-explorer {
  padding: rhythm(1) 0;
  border-top: 3px solid $devblue;
  border-bottom: 3px solid $devblue;
  background: #ededed;
  @include breakpoint($tabletwidth) {
    padding: rhythm(1);
    //border: 2px solid $devblue;
  }
}

.api-details__location {
  
}

.api-details__short-description {
  @extend %t-strong;
}

.api-details__short-description {
  
}

.api-details__description {
  table {
    // These styles are for legacy Open311 API docs.
    // (Although they could be used for other table
    // based content.
    font-size: 80%;
    width: 100%;
    line-height: 1.5em;
    margin-bottom: rhythm(2);
    thead tr {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #cccccc;
      th {
        font-weight: bold;
        padding-right: 1em;
        padding-bottom: 0.5em;
      }
      th:not(:first-child) {
        padding-left: 1em;
      }
    }
    tbody {
      margin-top: 1em;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #cccccc;
      tr td {
        padding-bottom: 3em;
        margin-bottom: 3em;
      }
      td {
        padding-top: 1em;
        padding-right: 1em;
        border-right: 1px solid #cccccc;
        &:last-child {
          border-right: none;
        }
        &:not(:first-child) {
          padding-left: 1em;
        }
      }
    }
  }
  pre {
    font-family: monospace;
    margin-left: 4em;
    font-size: 80%;
    margin-bottom: rhythm(2);
    overflow-y: auto;
  }
}
