{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
{% with projects=self.projects %}
<div class="layout-page-content">
  <div class="page-content">
    <div class="page-content__box">
      <h5 class="page-section-header">Projects</h5>
      {% if projects %}
      <div class="project-list">
      {% for project in projects %}
        <div>
            <a href="{% pageurl project %}">{{project.title}}</a> - {{project.get_status_display}}
            <p>{{project.short_description}}</p>
        </div>
      {% endfor %}
      </div>
      {% endif %}
      <div class="button button--loadmore">Load more</div>
    </div>
  </div>
</div>
{% endwith %}
{% endblock %}
