{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags compress home_tags %}

{% block content %}
{% with project=self %}

<div class="layout-page-content--full">
  <div class="page-content">
    <div class="page-content__box">
      
      <div class="layout-project-content">
        <div class="layout-project-header">
          <a href="/projects"><h5 class="page-section-header">Projects</h5></a>
          <h1>{{ project.title }}</h1>
        </div>
        <div class="layout-project-main-info">
          <div class="project-main-image">{% image project.image width-500 %}</div>
          <div>{{ project.full_description|richtext }}</div>
        </div>
        <aside class="layout-project-additional-info">
          <div class="project-additional-info__content">
            <div class="project-status project-status--{{project.status}}">Project status: {{ project.get_status_display }}</div>
            {% if project.roles.all %}

                <div class="project-people">
                  <h4>People</h4>
                  <ul>
                  {% for role in project.roles.all %}
                    <li><a href={{role.person.contact}}><span class="people-role">{{ role.type }}</span>: {{ role.person.name }}</a></li>
                  {% endfor %}
                  </ul>
                </div>
            {% endif %}
            <div class="project-kpis">
            <h4>Key performance indicators</h4>
            <ul>
            {% if project.kpis.all %}
                {% for kpi in project.kpis.all %}
                    <li><span class="kpis-name">{{ kpi.name }}</span>: <span class="kpis-value">{{ kpi.value }}</span><br/>
                    <span class="kpis-description">{{ kpi.description }}</span></li>
                {% endfor %}
            {% endif %}
            </ul>
            </div>
            {% query project.links public=True as links %}
                {% if links %}
                    <div class="project-links">
                    <h4>Links</h4>
                    <ul>
                    {% for link in links %}
                      <li><a href={{ link.url }}><span class="links-name">{{ link.type }}</span><br/>
                        <span class="links-description">{{ link.description }}</span></a></li>
                    {% endfor %}
                    </ul>
                    </div>
                {% endif %}
          </div>
        </aside>
      </div>
      
    </div>
  </div>
</div>

{% compress js inline %}
    {% autoescape off %}
        <script type="text/coffeescript">
        $kpiList = $(".project-kpis ul")

        window.displayDynamicKpis = (kpiData) ->
            console.log kpiData
            for kpi, data of kpiData
                $li = $("<li class='project-kpis__item' />")
                template = """
                <span class="kpis-name">#{kpi}</span>: <span class="kpis-value">#{data}</span>
                """
                $li.append $($.trim template)
                $kpiList.append $li

        window.displayUptime = (uptimeData) ->
            $li = $("<li class='project-kpis__item' />")
            unless uptimeData?
                return
            uptime = uptimeData['alltimeuptimeratio']
            template = """
            <span class="kpis-name">Total uptime average</span>: <span class="kpis-value kpis-value--uptime">#{uptime}</span>
            """
            $li.append $($.trim template)
            $kpiList.append $li

        window.displayPiwik = (piwikData) ->
            unless piwikData?
                return

            # Create the canvas
            $kpiList.prepend $($.trim """
                <p><canvas id="graph-visits" height="200" width="300"></canvas></p>
                """)

            # Here, we are relying on *non-integer* keys and all values being returned in the insertion order!
            days = (date for date, stats of piwikData)
            visits = (stats['nb_visits'] for date, stats of piwikData)

            # Show 30 days visits
            $li = $("<li class='project-kpis__item' />")
            visitsTotal = 0
            (visitsTotal = visitsTotal + number) for number in visits
            template = """
                <span class="kpis-name">Visits last 30 days</span>: <span class="kpis-value kpis-value--yesterday">#{visitsTotal}</span>
            """
            $li.append $($.trim template)
            $kpiList.prepend $li

            # Show yesterday's visits
            $li = $("<li class='project-kpis__item' />")
            [..., visitsYesterday, visitsToday] = visits
            template = """
                <span class="kpis-name">Visits yesterday</span>: <span class="kpis-value kpis-value--yesterday">#{visitsYesterday}</span>
            """
            $li.append $($.trim template)
            $kpiList.prepend $li

            # Show 30 days graph
            lineChartData =
                labels: days
                datasets: [
                    {label: "Visits",
                    backgroundColor: "rgba(220,220,220,0.2)",
                    borderColor : "rgba(220,220,220,1)",
                    pointBorderColor: "rgba(220,220,220,0)",
                    pointBackgroundColor: "rgba(220,220,220,0)",
                    pointBorderWidth: 0,
                    pointHoverRadius: 7,
                    pointHoverBackgroundColor: "rgba(220,220,220,0.2)",
                    pointHoverBorderColor: "rgba(220,220,220,0.2)",
                    pointHoverBorderWidth: 2,
                    data : visits}
                ]
            lineChartOptions =
                responsive: true,
                responsiveAnimationDuration: 1000,
                scales:
                    xAxes: [
                        {display: false}
                    ],
                    yAxes: [
                        {type: "linear",
                        gridLines:
                            color: "rgba(255, 255, 255, 0.1)"
                        ticks:
                            beginAtZero: true
                            fontFamily: "'Inconsolata', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif"
                            fontColor: "#fff"
                            fontSize: 13
                        }
                    ]
                tooltips:
                    backgroundColor: "rgba(0,32,111,0.1)",
                    titleFontFamily: "'Inconsolata', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
                    titleFontSize: 14
                    bodyFontFamily: "'Inconsolata', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
                    bodyFontSize: 14
            ctx = $("#graph-visits")[0].getContext "2d"
            window.plot = new Chart ctx, {
                    type: 'line',
                    data: lineChartData,
                    options: lineChartOptions}
        </script>
    {% endautoescape %}
{% endcompress %}

{% autoescape off %}
<script type="text/javascript">
    $.getJSON('/piwik_data/{{ self.piwik_id }}', displayPiwik);
    $.getJSON('/uptime_data/{{ self.uptimerobot_name }}', displayUptime);
    $.getJSON('/kpi_data/{{ self.slug }}', displayDynamicKpis);
</script>
{% endautoescape %}

{% endwith %}
{% endblock %}
