{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
{% with projects=self.projects %}
<div class="layout-page-content--full">
      <div class="layout-page-header--full">
        <div class="page-header page-header--full">
          <h1>Projects</h1>
        </div>
      </div>
      {% if projects %}
      <div class="project-index">
      {% for project in projects %}
        <div class="layout-project-index-item">
          <div class="project-index-item">
            <div class="project-index-item__content">
            <a href="{% pageurl project %}">
              <div class="project-status project-status--{{project.status}}">{{project.get_status_display}}</div>
            <div class="project-index-image">
              {% if project.image %}
            {% image project.image fill-400x250 as image %}
            <img src="{{image.url}}" width="{{image.width}}" height="{{image.height}}" alt="{{project.image.title}}" />
            {% else %}
            <img src="{% static "images/project-image-default.png" %}" alt="No project image" />
            {% endif %}
              </div>
            <h2>{{project.title}}</h2></a>
            <div class="project-description">{{project.short_description}}</div>
            </div>
        </div>
        </div>
      {% endfor %}
        </div>
      {% endif %}

</div>
{% endwith %}
{% endblock %}
