{% load static wagtailuserbar %}

{% load compress %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic|Inconsolata:400,700' rel='stylesheet' type='text/css'>
        {# Global stylesheets #}
 
        {% compress css %}
          <link rel="stylesheet" type="text/x-scss" href="{% static "sass/screen.scss" %}" />
        {% endcompress %}
      
        <script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
      
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
      
        {% wagtailuserbar %}

          <nav id="side-nav" class="pushy pushy-left" role="navigation">
            <ul>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Open APIs</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Current Tenders</a></li>
            </ul>
         </nav>
         <!-- Site Overlay -->
         <div class="site-overlay"></div>
         <div id="menu-toggle" class="menu-btn">&#9776;</div>
          
        <div id="container">
          <div class="layout-header">
            <div class="layout-header__wrapper">
              <!--<img src="{% static 'images/heldev-logo-white.svg' %}" class="site-logo">-->
              <h1 class="site-logo">dev.hel.fi</h1>
              <nav id="desk-nav" class="desktop-navigation" role="navigation">
                <ul>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Open APIs</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Current Tenders</a></li>
                </ul>
              </nav>

            <!-- start front-banner content -->
            <div class="layout-front-banner">
              <div class="front-banner__content front-banner__background">
                <img src="{% static 'images/front-banner-image-default.png' %}" class="front-banner-bg-image">
                <div class="front-banner__text">
                  {% block content %}{% endblock %}
                </div>
              </div>
            </div>
            <!-- end front-banner content -->
            </div>
          </div>
          <div class="layout-main">
            <!-- start promoted content -->
            <div class="layout-promoted">
              <div class="layout-promoted__first">
                <div class="list-banner list-banner--commit-watch">
                  <h3>Commit Watch</h3>
                  <ul>
                    <li class="commit-list__item">
                      <a href="#">
                      <span class="commit-list__date">32 minutes ago</span>
                      <span class="commit-list__description">jyrjola pushed to master at City-of-Helsinki/openhjo</span>
                      </a>
                    </li>
                    <li class="commit-list__item">
                      <a href="">
                        <span class="commit-list__date">32 minutes ago</span>
                        <span class="commit-list__description">jyrjola pushed to master at City-of-Helsinki/openhjo</span>
                      </a>
                    </li>
                  </ul>
                  <div class="list-banner__full-link">
                    <a href="#">Full list of events >></a>
                  </div>
                </div>
              </div>
              <div class="layout-promoted__second">
                <div class="list-banner list-banner--available-apis">
                  <h3>Available APIs</h3>
                  <ul>
                    <li class="api-list__item">
                      <a href="#">
                      <span class="api-list__icon"><i class="fa fa-share-alt-square"></i></span>
                      <span class="api-list__header">Open Ajo API</span>
                      </a>
                    </li>
                    <li class="api-list__item">
                      <a href="#">
                      <span class="api-list__icon"><i class="fa fa-share-alt-square"></i></span>
                      <span class="api-list__header">Open Ajo API</span>
                      </a>
                    </li>
                    <li class="api-list__item">
                      <a href="#">
                      <span class="api-list__icon"><i class="fa fa-share-alt-square"></i></span>
                      <span class="api-list__header">Open Ajo API</span>
                      </a>
                    </li>
                    <li class="api-list__item">
                      <a href="#">
                      <span class="api-list__icon"><i class="fa fa-share-alt-square"></i></span>
                      <span class="api-list__header">Open Ajo API</span>
                      </a>
                    </li>
                  </ul>
                  <div class="list-banner__full-link">
                    <a href="#">Full list of available APIs >></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- end promoted content -->
            <div class="layout-page-content">
              <div class="hilight-banner hilight-banner--full">
                <div class="hilight-banner__box">
                  <div class="hilight-banner__content">
                    <h5 class="hilight-banner__section">Blog</h5>
                    <h3>{% lorem 5 w random %}</h3>
                    <p>{% lorem 30 w random %}</p>
                  </div>
                </div>
              </div>
              <div class="hilight-banner hilight-banner--full">
                <div class="hilight-banner__box">
                  <div class="hilight-banner__content">
                    <h5 class="hilight-banner__section">Projects</h5>
                    <h3>{% lorem 5 w random %}</h3>
                    <p>{% lorem 30 w random %}</p>
                  </div>
                </div>
              </div>
              <div class="hilight-banner hilight-banner--half">
                <div class="hilight-banner__box">
                  <div class="hilight-banner__content">
                    <h5 class="hilight-banner__section">Events</h5>
                    <h3>{% lorem 5 w random %}</h3>
                    <p>{% lorem 30 w random %}</p>
                  </div>
                </div>
              </div>
              <div class="hilight-banner hilight-banner--half">
                <div class="hilight-banner__box">
                  <div class="hilight-banner__content">
                    <h5 class="hilight-banner__section">Blog</h5>
                    <h3>{% lorem 5 w random %}</h3>
                    <p>{% lorem 30 w random %}</p>
                  </div>
                </div>
              </div>
            </div>
            <aside class="layout-side-content">
              <div class="list-banner list-banner--events">
                <h3>Events</h3>
                <ul>
                  <li class="event-list__item">
                    <span class="event-list__date">18.9.2015</span>
                    <span class="event-list__header">{% lorem 2 w random %}</span>
                    <span class="event-list__description">{% lorem 5 w random %}</span>
                    <span class="event-list__link"><a href="#">Read more >></a></span>
                  </li>
                  <li class="event-list__item">
                    <span class="event-list__date">18.9.2015</span>
                    <span class="event-list__header">{% lorem 2 w random %}</span>
                    <span class="event-list__description">{% lorem 5 w random %}</span>
                    <span class="event-list__link"><a href="#">Read more >></a></span>
                  </li>
                  <li class="event-list__item">
                    <span class="event-list__date">18.9.2015</span>
                    <span class="event-list__header">{% lorem 2 w random %}</span>
                    <span class="event-list__description">{% lorem 5 w random %}</span>
                    <span class="event-list__link"><a href="#">Read more >></a></span>
                  </li>
                </ul>
                <div class="list-banner__full-link">
                  <a href="#">Full list of events >></a>
                </div>
              </div>
              <div class="some-banner">
                <a href="#">
                  <i class="fa fa-facebook-official fa-2x"></i>
                  We are in Facebook
                </a>
              </div>
              <div class="some-banner">
                <a href="#">
                  <i class="fa fa-github fa-2x"></i>
                  Find us in GitHub
                </a>
              </div>
            </aside>
          </div>
          
          <div class="layout-site-footer">
            <div class="site-footer layout-site-footer__wrapper">
              <div class="site-footer-partners">
                <div class="partner-helsinki">Helsingin Kaupunki</div>
                <div class="partner-heldev">Hel Dev</div>
                <div class="partner-link"><a href="http://www.hel.fi">Helsingin kaupunki</a></div>
              </div>
              <div class="site-footer-navigation">
                <ul>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Open APIs</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Current Tenders</a></li>
                </ul>
              </div>
              <div class="site-footer-links">
                <div class="site-footer-some">
                  <a href="#"><i class="fa fa-github fa-2x"></i></a>
                  <a href="#"><i class="fa fa-facebook-official fa-2x"></i></a>
                  <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                  <div class="footer-link"><a href="#">Helsinki Region Infoshare</a></div>
                  <div class="footer-link"><a href="#">Sity SDK</a></div>
                  <div class="footer-link"><a href="#">Code for Europe</a></div>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
      
        {# Global javascript #}
        {% compress js %}
          <script type="text/javascript" src="{% static 'js/heldev.js' %}"></script>
          <script type="text/javascript" src="{% static 'pushy/js/pushy.js' %}"></script>
          <script type="text/javascript" src="{% static 'eventEmitter/eventEmitter.js' %}"></script>
          <script type="text/javascript" src="{% static 'eventie/eventie.js' %}"></script>
          <script type="text/javascript" src="{% static 'imagesloaded/imagesloaded.js' %}"></script>
          <script type="text/javascript" src="{% static 'imagefill/js/jquery-imagefill.js' %}"></script>
        {% endcompress %}
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
