{% load static wagtailuserbar %}

{% load compress %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href='http://fonts.googleapis.com/css?family=Lato:400,900italic,700,400italic|Inconsolata:400,700' rel='stylesheet' type='text/css'>
        {# Global stylesheets #}
 
        {% compress css %}
          <link rel="stylesheet" type="text/x-scss" href="{% static "sass/screen.scss" %}" />
        {% endcompress %}
      
        <script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
      
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
      
        {% wagtailuserbar %}

          <nav id="mobile-nav" class="pushy pushy-left" role="navigation">
            <ul>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Open APIs</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Current Tenders</a></li>
            </ul>
         </nav>
         <!-- Site Overlay -->
         <div class="site-overlay"></div>
         <div id="menu-toggle" class="menu-btn">&#9776;</div>
          
        <div id="container" class="container site-content">
          <div class="menu-container">
            <div class="menu-content">
              <img src="{% static 'images/heldev-logo-mini-white.svg' %}" class="site-logo">
            </div>
          </div>
          <div class="main-content page-content">
            <!-- start front-banner content -->
            <div class="front-banner">
              <div class="front-banner-content front-banner-background">
                <img src="{% static 'images/front-banner-image-default.png' %}" class="front-banner-bg-image">
                <div class="front-banner-text">
                  {% block content %}{% endblock %}
                </div>
              </div>
            </div>
            <!-- end front-banner content -->
            <!-- start promoted content -->
            <div class="promoted-content">
              <div class="promoted-first">
                <div class="list-banner list-banner--commit-watch">
                  <h3>Commit Watch</h3>
                  <ul>
                    <li>
                      <span>32 minutes ago</span>
                      <span>jyrjola pushed to master at City-of-Helsinki/openhjo</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="promoted-second">
                <div class="list-banner list-banner--available-apis">
                  <h3>Available APIs</h3>
                </div>
              </div>
            </div>
            <!-- end promoted content -->
            
            <aside class="side-content">
              <div class="list-banner list-banner--events">
                <h3>Events</h3>
                <ul>
                  <li>
                    <span>18.9.2015</span>
                    <span>Rockathon Helsinki</span>
                  </li>
                </ul>
              </div>
            </aside>
          </div>
          
          <div class="site-footer">
          
          </div>
          
          
        </div>
      
        {# Global javascript #}
        {% compress js %}
          <script type="text/javascript" src="{% static 'js/heldev.js' %}"></script>
          <script type="text/javascript" src="{% static 'pushy/js/pushy.js' %}"></script>
          <script type="text/javascript" src="{% static 'eventEmitter/eventEmitter.js' %}"></script>
          <script type="text/javascript" src="{% static 'eventie/eventie.js' %}"></script>
          <script type="text/javascript" src="{% static 'imagesloaded/imagesloaded.js' %}"></script>
          <script type="text/javascript" src="{% static 'imagefill/js/jquery-imagefill.js' %}"></script>
        {% endcompress %}
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
