{% load static wagtailuserbar %}

{% load compress %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic|Inconsolata:400,700' rel='stylesheet' type='text/css'>
        {# Global stylesheets #}
 
        {% compress css %}
          <link rel="stylesheet" type="text/x-scss" href="{% static "sass/screen.scss" %}" />
        {% endcompress %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
      
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
      
        {% wagtailuserbar %}

          <nav id="side-nav" class="pushy pushy-left" role="navigation">
            <ul>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Open APIs</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Current Tenders</a></li>
            </ul>
         </nav>
         <!-- Site Overlay -->
         <div class="site-overlay"></div>
         <div id="menu-toggle" class="menu-btn">&#9776;</div>
          <div id="container">
          {% block content %}{% endblock %}
          <div class="layout-site-footer">
            <div class="site-footer layout-site-footer__wrapper">
              <div class="site-footer-partners">
                <div class="partner-helsinki">Helsingin Kaupunki</div>
                <div class="partner-heldev">Hel Dev</div>
                <div class="partner-link"><a href="http://www.hel.fi">Helsingin kaupunki</a></div>
              </div>
              <div class="site-footer-navigation">
                <ul>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Open APIs</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Current Tenders</a></li>
                </ul>
              </div>
              <div class="site-footer-links">
                <div class="site-footer-some">
                  <a href="#"><i class="fa fa-github fa-2x"></i></a>
                  <a href="#"><i class="fa fa-facebook-official fa-2x"></i></a>
                  <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                  <div class="footer-link"><a href="#">Helsinki Region Infoshare</a></div>
                  <div class="footer-link"><a href="#">Sity SDK</a></div>
                  <div class="footer-link"><a href="#">Code for Europe</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {# Global javascript #}
        {% compress js %}
          <script type="text/javascript" src="{% static 'js/heldev.js' %}"></script>
          <script type="text/javascript" src="{% static 'pushy/js/pushy.js' %}"></script>
          <script type="text/javascript" src="{% static 'eventEmitter/EventEmitter.js' %}"></script>
          <script type="text/javascript" src="{% static 'eventie/eventie.js' %}"></script>
          <script type="text/javascript" src="{% static 'imagesloaded/imagesloaded.js' %}"></script>
          <script type="text/javascript" src="{% static 'imagefill/js/jquery-imagefill.js' %}"></script>
        {% endcompress %}
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
