{% load static wagtailuserbar %}

{% load compress %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %} | {{ request.site.hostname }}</title>
        {% if self and self.title %}
        <meta property="og:site_name" content="dev.hel.fi" />
        <meta name="description" content="{{ self.title }}" />
        <meta name="og:title" content="{{ self.title }} | {{ request.site.hostname }}" />
        {% endif %}
        {% if self and self.header_image %}
        <meta property="og:image" content="http://{{ request.site.hostname }}{{ self.header_image.file.url }}" />
        {% elif self and self.image %}
        <meta property="og:image" content="http://{{ request.site.hostname }}{{ self.image.file.url }}" />
        {% else %}
        <meta property="og:image" content="http://{{ request.site.hostname }}{% static 'images/some-banner.jpg' %}" />
        {% endif %}
        {% if self and self.search_description %}
        <meta property="og:description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}" />
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic|Inconsolata:400,700' rel='stylesheet' type='text/css'>
        {# Global stylesheets #}
 
        {% compress css %}
          <link rel="stylesheet" type="text/x-scss" href="{% static "sass/screen.scss" %}" />
        {% endcompress %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
        <script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
      
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
          {% wagtailuserbar %}

          <div class="layout-header">
            <div class="layout-header__wrapper">
              <a href="/"><h1 class="site-logo">dev.hel.fi</h1></a>
              <nav id="sidr" class="main-navigation" role="navigation">
                <ul>
                    <li><a href="/projects/">Projects</a></li>
                    <li><a href="/apis/">Open APIs</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/about/">About Us</a></li>
                    <li><a href="/events/">Events</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="/accounts/logout/">{{ request.user.get_full_name }}</a></li>
                    {% else %}
                    <li><a href="/accounts/helsinki/login/">Log in</a></li>
                    {% endif %}
                </ul>
              </nav>
              {% block frontbanner %}{% endblock %}
            </div>
          </div>

         <!-- Site Overlay -->
          <div id="toggle" class="menu-btn">      
           <div class="bar"></div>
          </div>
          <div class="layout-main">
            {% block content %}{% endblock %}
          </div>
          <div class="layout-site-footer">
            <div class="site-footer layout-site-footer__wrapper">
              <div class="site-footer-partners">
                <div class="partner-helsinki">Helsingin Kaupunki</div>
                <div class="partner-heldev">Hel Dev</div>
                <div class="partner-link"><a href="http://www.hel.fi/www/helsinki/en">City of Helsinki</a></div>
              </div>
              <div class="site-footer-navigation">
                <ul>
                    <li><a href="/projects/">Projects</a></li>
                    <li><a href="/apis/">Open APIs</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/about/">About Us</a></li>
                    <li><a href="/events/">Events</a></li>
                </ul>
              </div>
              <div class="site-footer-links">
                <div class="site-footer-some">
                  <a href="https://github.com/City-of-Helsinki"><i class="fa fa-github fa-2x"></i></a>
                  <a href="https://www.facebook.com/groups/heldev/"><i class="fa fa-facebook-official fa-2x"></i></a>
                  <a href="https://twitter.com/hashtag/heldev"><i class="fa fa-twitter fa-2x"></i></a>
                  <div class="footer-link"><a href="http://www.hri.fi">Helsinki Region Infoshare</a></div>
                  <div class="footer-link"><a href="http://6aika.fi">6aika – Open and smart services</a></div>
                </div>
              </div>
            </div>
          </div>
        {# Global javascript #}
        {% compress js %}
          <script type="text/javascript" src="{% static 'js/heldev.js' %}"></script>
          <script type="text/coffeescript" src="{% static 'github/displayGithub.coffee' %}"></script>
          <script type="text/javascript" src="{% static 'jquery-timeago/jquery.timeago.js' %}"></script>
          <script type="text/javascript" src="{% static 'sidr/jquery.sidr.min.js' %}"></script>
          <script type="text/javascript" src="{% static 'enquire/dist/enquire.js' %}"></script>
          <script type="text/javascript" src="{% static 'Chart.js/Chart.min.js' %}"></script>
        {% endcompress %}
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
      <!-- Piwik -->
      <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="//analytics.hel.ninja/piwik/";
          _paq.push(['setTrackerUrl', u+'pw.php']);
          _paq.push(['setSiteId', 6]);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'pw.js'; s.parentNode.insertBefore(g,s);
        })();
      </script>
      <noscript><p><img src="//analytics.hel.ninja/piwik/pw.php?idsite=6" style="border:0;" alt="" /></p></noscript>
      <!-- End Piwik Code -->
    </body>
</html>
